body{
    width: 100%;
}

#mainContainer{
    width: 960px;
    margin: auto;
}
nav{
    width: 100%;
}

#navImg {
    display: inline-block;
    padding: 10px;
}
#nav-Container{
    /*width: 100%; */
    display: flex;
    background-color: blue;
}

nav ul li {
    display: inline-flex;
    list-style-type: none;
    align-items: flex-end;
    justify-content: right;
}

nav ul li a{
    text-decoration: none;
    margin-left: 200px;
    color: white;
}

.navL{
    align-items: flex-end;
    justify-content: flex-end;
}

div#section1{
    width: 960px;
    height: 450px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

div#sub-banner{
    /*width: 960px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*justify-content: space-between;
    align-items: center; */
}

div#section2Container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
}

div#section2Text{
    padding: 20px;
}

.section2Img{
    border-top: 20px;
}
footer{
    width: 100%;
    height: 90px;
    background-color: blue;
}